[Unit]
Description=Minecraft Vanilla Server 
After=network.target

[Service]
# Change working directory to vanilla
WorkingDirectory=/opt/minecraft/vanilla
# Set user and group
User=minecraft
Group=minecraft

# Start the server
ExecStart=/opt/minecraft/.jabba/jdk/openjdk@1.16.0/bin/java -Xmx1024M -Xms1024M -jar server.jar nogui


Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target
